:root {
    --text-primary: #252152;
}

.get-started {
    background-color: #e2e1eb;
    width: 22%;
    min-width: 250px;
    padding: 5px 50px 5px 20px;
    height: 80%;
}
.editor {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 500px;
    margin: 10px 40px 10px 40px;
    height: 100%;
}
.settings {
    background-color: #e2e1eb;
    width: 30%;
    min-width: 200px;
    max-width: 250px;
    padding: 20px;
    height: 100%;

}
.chatgpt-playground{
    display: flex;
    flex-direction: row;
    min-width: 800px;
    width: 100%;
    /* justify-content: space-between; */
}

.button-pannel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    min-width: 300px;
    align-items: start;
}

.button-pannel button {
    margin-right: 10px;
}

.error-message {
    background-color: aquamarine;
}

.loading {
    align-self: center;
}
.loading:after {
    content: " ";
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--text-primary);
    border-color: var(--text-primary) transparent var(--text-primary) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}  